    <div class="call_to_action">
        
        <a href="/contact" class="big_button">Contact Sydney About Voice Lessons Now!</a>
        <br>
        
        <a href="/policies_and_rates">Learn More about Policies and Rates</a>
        <br>
    </div>
    
    <div class="container copyright">
        This website and its contents are Copyright &copy; 2019 Sydney Victor
        unless otherwise indicated. All rights reserved. Please do not use this
        content without permission.
    </div>