div.call_to_action {
    font-size: 1.3em;
    background: #777;
    color: white;
    flex: 1 1 auto;
    text-align: center;
    padding: 1em 2ex;
}

div.call_to_action a {
    color: white;
}

div.call_to_action a:hover {
    color: #5ecae5;
}

div.call_to_action a.big_button {
    display: inline-block;
    color: white;
    background: #3cbfc5;
    background: -moz-linear-gradient(top, #3cbfc5 0%, #2f9599 100%);
    background: -webkit-linear-gradient(top, #3cbfc5 0%,#2f9599 100%);
    background: linear-gradient(to bottom, #3cbfc5 0%,#2f9599 100%);
    color: white;
    font-family: "Quicksand", sans-serif;
    font-size: 1.2em;
    padding: 0.25em 1em;
    margin: 0.25em;
    text-decoration: none;
    border-radius: 1em;
}

div.call_to_action a.big_button:hover {
    color: white;
    background: #5ecae5;
    background: -moz-linear-gradient(top, #5ecae5 0%, #2f8399 100%);
    background: -webkit-linear-gradient(top, #5ecae5 0%,#2f8399 100%);
    background: linear-gradient(to bottom, #5ecae5 0%,#2f8399 100%);
}

div.copyright {
    font-style: italic;
    font-size: 0.8rem;
}