h1.title {
    margin-top: 0.7em;
    margin-bottom: 0.2em;
    text-align: center;
}

div.header_block {
    text-align: center;
    color: $lightGray;
    background: $veryLightGray;
    padding: 0;
}

img.header-logo {
    max-height: 194px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 1em;
}

img.header-img {
    max-width: 100%;
    max-height: 400px;

    @include paper-img;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    a, a:visited {
        padding: 0 1.5ex;
        margin: 1ex 0;
        color: $mainFGColor;
        text-decoration: none;

        @include animated-hover-line($accentAqua, rgba(255, 255, 255, 0));
    }
}

div.sticky {
    position: sticky;
    top: 0;
    background: $veryLightGray;
}