@import 'variables';

blockquote
{
    &:nth-child(odd)
    {
        background-color: lighten($accentCyan, 30%);
    }

    &:nth-child(even)
    {
        background-color: lighten($accentAqua, 37.5%);
    }    

    padding: 0.5rem 1.5rem;

    @include paper-img;

    transition: all 0.3s ease-out;

    &:hover 
    {
        color: #333;
        box-shadow: 2px 2px 3px darken($lightGray, 2.5%);
        
        &:nth-child(odd)
        {
            background-color: lighten($accentCyan, 27.5%);
        }

        &:nth-child(even)
        {
            background-color: lighten($accentAqua, 35%);
        }   
    }

    .attribution 
    {
        text-align: right;
        font-style: italic;
    }
}