$accentAqua: #3CBFC5;
$accentCyan: #5ecae5;
$mainFGColor: #7B8D8E;
$mainBGColor: white;
$medGray: #777;
$lightGray: #afafaf;
$veryLightGray: #fafafa;

@mixin paper-img {
    border-radius: 5px;
    box-shadow: 2px 2px 3px $lightGray;
}

@mixin link-color-transition {
    transition: color 0.3s ease-in;
}

@mixin animated-hover-line($animFGColor, $animBGColor, $hover-color: 1, $lineTopPosition: 100%) {
    position: relative;

    @if $hover-color == 1 {
        @include link-color-transition;
    }

    &::after {
        display: block;
        position: absolute;
        top: $lineTopPosition;
        left: 50%;
        margin-left: 0;
        content: "";

        transition: all 0.3s ease-in;
        
        padding: 1px;
        height: 0px;
        width: 0;
        border-radius: 2px;

        background: $animBGColor;
    }

    &:hover, &.current, &:focus, &:active {
        @if $hover-color == 1 {
            color: $animFGColor;
        }

        &::after {
            margin-left: calc(-50% + 2.5ex);
            width: calc(100% - 5ex);
            background: $animFGColor;
        }
    }
}