@media only screen and (max-width: 760px) {
    div.container {
        width: inherit;
        padding: 0.5em 2ex;
    }
    
    img.header-logo {
        max-width: 50vw;
    }

    img.float-img-right {
        float: none;
        display: block;
        max-width: 90%;
        margin: 0 auto;
    }

    div.divider {
        width: 90%;
    }

    div.call_to_action {
        font-size: 1em;
    }
}


@media only screen and (max-width: 602px) {
    
    img.header-img {
        box-shadow: none;
        border-radius: 0;
    }
}

@media only screen and (max-width: 360px) {
    body {
        font-size: 12pt;
    }
}